@model Testing_WebApplication.Models.person

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>

    Hello there @Model.firstname @Model.lastname is nice to see you again!

    </body>
</html>